__pycache__/

model/
!*/model/

LLaMAFactory/src/llamafactory.egg-info/PKG-INFO
LLaMAFactory/src/llamafactory.egg-info/SOURCES.txt
LLaMAFactory/saves/test

svco-eval/eval_vlm/playground/data/eval/*/images/
svco-eval/tmp_full_model/

amber
benchmark
data
nltk_data
spacy
vllm
*.lock